@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your CSS file or component */
.bg-custom-orange {
  background-color: #f09551;
}

:root {
    --first-color: #f09551;
    --second-color: #ff0000;
    --third-color: #010101;
    --fourth-color: #ffffff;
  }
  